doctype html
html(lang="en", ng-app="myApp")
    head
        base(href="/")
        title= pageTitle

        link(href='stylesheets/init.css', type='text/css', rel='stylesheet')
        script(src='/angular.min.js')
        script(src='/angular-resource.min.js')
        script(src='/angular-cookies.min.js')
        script(src='/angular-ui-router.min.js')
        script(src='/ui-bootstrap.min.js')
        script(src='/app.js')

    body(ng-controller="myTestApp")

        //ul
        //    li(ng-repeat="item in list")
        //        p {{item.a}}
        //        p {{item.b}}
        //
        //    li 1+2={{1+2}}

        header.header-app Test APP

        nav.navbar.navbar-inverse.navbar-static-top
            a.navbar-brand Project name

        nav.nav-menu
            a.item-menu(ui-sref="hello")
                | Go to page hello
            a.item-menu(ui-sref="simple-form")
                | Go to Simple Form
            a.item-menu(ui-sref="login")
                | Login
            a.item-menu(ui-sref="registration")
                | Registration

        .container-app(ui-view)



        //h1 {{hello}}
        //#container.col
        //    p.
        //        Jade is a terse and simple
        //        templating language with a
        //        strong focus on performance
        //        and powerful features.
        //
        //    p 1+2={{1+2}}
        //
        //    a(href="#next", title="NexPage") NextPage